.header {
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.logo {
    align-items: end;
}

.menu-label {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    padding: 10px;

}

.section-start {
    border-radius: 80px;
    text-align: center;
    background-image: url('../img/Background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 136px 0 0 0;
}

.section-start-title {
    font-size: 80px;
    line-height: 116.7%;
    max-width: 796px;
}

.section-start-info {
    padding: 33px 0;
    font-size: 25px;
    line-height: 160%;
}

.section-how-we-work {

    justify-content: center;
    background-color: var(--background-color);
    padding: 530px 0 162px 0;
    border-radius: 30px;
}

.section-how-we-work-card {
    width: 430px;
    text-align: center;
}

.section-how-we-work-card-title {
    font-size: 30px;
    font-weight: 500;
    line-height: 133.2%;
    padding: 32px 0 7px 0;
}

.section-how-we-work-card-info {
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
}

.phone-container-action {
    margin-top: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.phone-container-action-item {
    border-radius: 16px;
    background: #F3F3F3;
    align-items: center;
}

.phone-container-action-item_active {
    background-color: white;
}

.phone-container-action-item-icon {
    position: relative;
    width: 20px;
}

.phone-container-action-item-icon-wrap {
    width: 33px;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #363636;
}

.phone-container-action-item-icon-wrap_active {
    background-color: #6C69FF;
}

.phone-container-action-item-label {
    color: #141414;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
}

.phone-transfer-component {
    grid-template-columns: min-content 1fr min-content;
    align-items: center;
}

.phone-transfer-component-icon {
    height: 65px;
    aspect-ratio: 1/1;
    border-radius: 18px;
}

.phone-transfer-component-info-title {
    font-size: 18px;
    line-height: 35px;
}

.phone-transfer-component-info-label {
    color: #555;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.15px;
    white-space: nowrap;
}

.phone-transfer-component-price {
    color: #FF2323;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
}

.telephone {
    box-sizing: border-box;
    padding: 140px 160px 140px 130px;
    margin-top: 551px;
    position: absolute;
    background-image: url('../img/telephone.png');
    width: 619px;
    height: 1102px;
}

.telephone-name {
    max-width: 110px;
}

.title {
    color: var(--secondary-color);

    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
}

.subtitle {
    color: #141414;

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
}

.telephone-logo {
    display: flex;
    justify-content: space-between;


}

.telephone-logo-icon {
    display: flex;
    gap: 15px;
}

.balance {
    display: flex;
    justify-content: space-around;

    margin-top: 40px;
    gap: 120px;

}

.acc {


}

.balance-name {
    color: #141414;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
}

.price {
    color: #141414;

    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
}


.acc-button {
    border-radius: 12px;
    background: #6C69FF;

    box-shadow: 0 9px 27px 0 rgba(175, 175, 175, 0.31);

    width: 111px;
    height: 37px;

    color: #FFF;
    text-align: center;

    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 0;
}

.card {
    margin-top: 36px;
    position: relative;


}

.card1 {
    width: 318px;
    height: 191px;
    bottom: 10px;

    transform: rotate(2.145deg);
    flex-shrink: 0;
    position: absolute;

    border-radius: 28px;
    background: #C4C4C4;
    opacity: 50%;
}

.card2 {
    width: 318px;
    height: 191px;
    bottom: 10px;

    transform: rotate(-3.281deg);
    flex-shrink: 0;
    position: absolute;

    border-radius: 28px;
    background: #C4C4C4;
}

.card-prime-pay {
    position: relative;
    width: 320px;
    height: 195px;

    border-radius: 28px;
    flex-shrink: 0;
    background: url('../img/Rectangle.png'), lightgray 50% / cover no-repeat;

}

.logo-card {
    display: flex;
    padding: 15px;
    gap: 120px;
}

.logo-card-active {
    display: flex;
    align-items: center;
    gap: 10px;
}

.money-dollar {

}

.logo-card-border {
    width: 33px;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: 1px solid #FFF;
}

.card-name {
    color: #FFF;

    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 1px;
}

.check {
    color: #2C2C2C;

    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

.check-money {
    padding: 5px 15px;
}

.card-info {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 45px 0 25px 15px;
    gap: 95px;
}

.person {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card-holder {
    color: #FFF;

    font-size: 8px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.name {
    color: #FFF;

    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.container {
    margin-top: 22px;
    width: 320px;
    aspect-ratio: 5 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}

.block2 {
    gap: 7px;
    display: flex;

    flex-direction: column;
    align-items: center;

    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 16px;
    background: #F3F3F3;
    background-blend-mode: multiply;
}

.block1 {
    gap: 7px;

    display: flex;

    flex-direction: column;
    align-items: center;

    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 16px;

    background-blend-mode: multiply;


    background: #FFF;
    box-shadow: 0 6px 18px 0 rgba(91, 50, 255, 0.06);
}

.container-info1 {
    width: 33px;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #6C69FF;
}

.container-info2 {
    width: 33px;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #363636;
}

.container-text {
    color: #141414;
    text-align: center;

    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}

.history {
    margin-top: 24px;
    display: flex;
    gap: 213px;

}

.history-title {
    color: #141414;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
}

.history-side-label {
    display: flex;
    gap: 6px;
}

.history-side-label-text {
    color: #6C69FF;

    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
}

.transaction {
    margin-top: 18px;
}

.transaction-list {
    gap: 106px;
    display: flex;


    flex-shrink: 0;

    border-radius: 14px;
    background: linear-gradient(180deg, #EEE 0%, rgba(255, 255, 255, 0.00) 100%);
    background-blend-mode: multiply;
}

.transaction-list-info {
    display: flex;
    padding: 15px;
    gap: 10px;
}

.transaction-list-info-pay {
    color: #141414;


    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}

.transaction-list-info-ico {
    width: 37px;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
}

.transaction-list-info-name {
    color: #8F8F8F;


    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;

}

.transaction-list-pay {
    align-items: end;
    display: flex;
    padding: 15px;

    flex-direction: column;
}

.transaction-list-pay-money {
    color: #141414;
    text-align: center;

    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
}

.transaction-list-pay-debited {
    color: #141414;
    text-align: center;

    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.phone-menu {
    display: flex;
    padding: 15px;
    gap: 49px;
}

.phone-menu-icon {
    display: inline-block;
    position: relative;
}

.icon {
    transition: transform 0.2s ease-in-out;
}

.icon:hover {
    transform: translateY(-15px);
}

.money {
    position: absolute;
    left: 450px;
    bottom: 100px;
}

.money-card {
    position: absolute;
    right: 450px;
    bottom: 50px;
}

.money-card-message {
    position: absolute;
    left: 600px;
    bottom: -400px;
}

.info {
    border-radius: 30px;
    background: #F5F5F5;
    margin: 65px 87px;
    display: flex;
    gap: 150px;
    padding: 700px;
}

.creat-acc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.creat-acc-logo {
    color: #231656;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 133.2%;
    text-transform: capitalize;
}

.creat-acc-text {
    color: #4E4E4E;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: capitalize;
    max-width: 400px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 600px;

}

.context-logo {
    color: #B5B5B5;

    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: 101.2%;
}

.title1 {
    color: #231656;

    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: 101.2%;
}

.content-info1 {
    color: #4E4E4E;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 32px */
    text-transform: capitalize;
}

.content-video {
    display: flex;


}

.content-video-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
}

.content-video-logo {
    color: #231656;

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    text-transform: capitalize;
}

.content-video-go {
    gap: 7px;
    display: flex;
    align-items: center;

    color: #7D5FFF;

    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: capitalize;
}

.content-bg {
    display: flex;
    border-radius: 25px;
    position: relative;
    z-index: 0;
    justify-content: center;

}

.content-bg-fon {

    border-radius: 50px;
}

.telephone1 {
    box-sizing: border-box;
    position: absolute;
    background-image: url('../img/telephone.png');
    width: 619px;
    height: 1102px;
}

.telephone1-logo {
    color: #141414;
    text-align: center;
    padding-top: 125px;

    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.schedule {
    padding-top: 41px;
    display: flex;
    justify-content: center;

}

.graph-bottom {
    position: relative;
}

.graph-top {
    padding-right: 60px;
    position: absolute;
}

.graph-arrow {
    position: absolute;
    padding-left: 30px;
    padding-top: 70px;

}

.text-schedule {
    padding-top: 14px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.schedule-logo {
    color: #555;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.schedule-money {
    color: #141414;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
}

.schedule-button {
    display: flex;
    justify-content: center;
    gap: 6px;
    padding-top: 29px;

}

.transfer {
    color: #FFF;
    text-align: center;

    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 0;

    width: 174px;
    height: 50px;

    border-radius: 13px;
    background: #7D5FFF;
    box-shadow: 0 10px 30px 0 rgba(41, 0, 204, 0.31);
}

.refund {
    color: #141414;
    text-align: center;

    width: 174px;
    height: 50px;

    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 0;

    border-radius: 13px;
    border: 1px solid #5B32FF;
}

.history1 {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    gap: 40px;
}

.history-title1 {
    color: #141414;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.history-side-label1 {
    display: flex;
    gap: 6px;
}

.history-side-label-text1 {
    color: #FF8C00;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
}

.last-tranfered {

}

.user1 {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 34px;

}

.user-name {
    display: flex;
    flex-direction: column;


}

.user-name-logo {
    color: #141414;

    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
}

.user-name-pay {
    color: #555;

    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.15px;
}

.user-price {
    color: #FF2323;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    display: flex;
    align-items: center;
}

.user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.phone-menu1 {
    display: flex;
    padding: 80px;
    gap: 49px;
    justify-content: center;

}

.leveling {
    display: flex;
    justify-content: center;
}

.info-player {
    display: flex;
    margin-top: 80px;
    gap: 60px;
    padding-left: 66px;
    justify-content: left;
    align-items: center;
    border-radius: 30px;
    background: #F5F5F5;
    width: 1320px;
    height: 256px;
}

.info-player-number {
    display: flex;
    flex-direction: column;

}

.downloaded {
    color: #231656;

    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 101.2%;
}

.downloaded-info {
    color: #4E4E4E;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: capitalize;
}

.vl {
    width: 1px;
    height: 68px;
    background: #D8D8D8;


}

.answers {
    margin: 385px auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.answers-logo {
    color: #B5B5B5;
    text-align: center;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: 101.2%;
}


.container1 {

    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 43px;
    padding: 20px;
    justify-items: center;
}

.container1-block {
    display: flex;
    flex-direction: column;
    padding: 45px;
    align-items: flex-start;
    border-radius: 30px;
    background: #F8F8F8;
    aspect-ratio: 1/1;
    justify-content: center;
    text-align: left;
    line-height: 150px;
}

.container1-block1-logo {
    color: #3D3269;
    font-style: normal;
    font-weight: 500;
    line-height: 101.2%;
}

.container1-block1-text {
    color: #4E4E4E;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    max-width: 340px;
}

.container1-block-image {
    justify-content: center;
    align-items: center;
}

.container1-block-text {
    flex-direction: column;
    justify-content: center;
}

.circular-menu {
    flex-shrink: 0;
    border-radius: 30px;
    background: #EBEBEB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 150px;
}

.circular-menu-item {
    background: #FFF;
    box-shadow: 0 12px 12px 0 rgba(176, 176, 176, 0.25);
    color: #424242;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circular-menu-item:hover {
    background: #bfb9b9;
}

/* Positioning items around the central point */
.circular-menu-item:nth-child(1) {
    transform: translate(-50%, -50%) rotate(0deg) translate(100px) rotate(0deg);
}

.circular-menu-item:nth-child(2) {
    transform: translate(-50%, -50%) rotate(72deg) translate(100px) rotate(-72deg);
}

.circular-menu-item:nth-child(3) {
    transform: translate(-50%, -50%) rotate(144deg) translate(100px) rotate(-144deg);
}

.circular-menu-item:nth-child(4) {
    transform: translate(-50%, -50%) rotate(216deg) translate(100px) rotate(-216deg);
}

.circular-menu-item:nth-child(5) {
    transform: translate(-50%, -50%) rotate(288deg) translate(100px) rotate(-288deg);
}


.testimonial {
    background-image: url('../img/fon2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 130px;
    margin: 0 auto;
    max-width: 1467px;

}

.testimonial-text {
    color: #FFF;
    text-align: center;
    max-width: 700px;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: 101.2%;
}

.comment {
    background-color: #ffffff;
    border-radius: 30px;
    padding: 70px 105px;
}

.comment-player {
    justify-content: space-between;
    align-items: center;
}

.comment-player-info {

    justify-content: center;
    align-items: center;


}

.comment-player-photo {
    border-radius: 50%;
}

.comment-player-name {
    color: #3D3269;

    font-weight: 500;
    line-height: 101.2%;
}

.comment-player-work {
    color: #625FFB;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: capitalize;
}

.comment-text {
    max-width: 700px;
    color: #4E4E4E;

    font-weight: 400;
    line-height: 160%;
}

.horizontal-line {
    height: 1px;
    background: #CCC;
    margin: 30px 0 30px 0;
}

.awards1 {
    display: flex;
    height: 285px;
    padding: 30px 170px;
    justify-content: center;
    align-items: center;
    gap: 120px;
    border-radius: 30px;
    background: #F3F3F3;
}

.awards-star-best {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.awards-img {
    position: absolute;

}

.awards-img1 {
    position: absolute;
}

.awards-img2 {
    position: relative;
}

.awards-text-position {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-bottom: 53px;
}

.low-awards-star-img {
    aspect-ratio: 1/1;
    width: 39px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.awards-img-position {
    display: flex;
    justify-content: center;
    align-items: center;
}

.low-awards-star-text {
    color: #303030;
    text-align: center;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 91.7%;
    text-transform: capitalize;
    position: absolute;
}

.awards2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.awards-text-logo {

    color: #231656;
    text-align: center;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 142.2%;
    text-transform: uppercase;
}

.awards-text-info {
    color: #231656;
    text-align: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 142.2%;
}

.awards-best {
    color: #231656;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 148.7%;
    text-transform: uppercase;
}

.awards-best-year {
    color: #231656;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 142.2%;
    text-transform: uppercase;
}

.horizontal-line-awards {
    width: 77px;
    height: 1px;
    background: #FF5940;
}

.awards-text {
    color: #303030;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 91.7%;
    text-transform: capitalize;

}

.awards-button {
    width: 163px;
    height: 46px;
    border-radius: 7px;
    background: #7D5FFF;
    color: #FFF;
    text-align: center;

    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: 91.7%;
    text-transform: uppercase;
}

.awards-year {
    color: #303030;
    text-align: center;

    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 91.7%;
    text-transform: capitalize;
}

.awards-star1 {
    display: flex;
    height: 285px;
    padding: 38px 79px;
    justify-content: center;
    align-items: center;
}

.awards-rating1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 80px;

}

.rating {
    color: #231656;
    text-align: center;

    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height: 116.7%;
}

.for-phone {
    color: #231656;
    text-align: center;

    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    text-transform: capitalize;
}

.registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 140px 0 10px 0;
}

.registration-logo {
    color: #8C8C8C;
    text-align: center;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: 101.2%;
    max-width: 700px;
}

.registration-main {
    display: flex;

}

.telephone2 {
    box-sizing: border-box;
    padding: 120px;
    background-image: url('../img/telephone.png');
    width: 619px;
    height: 1102px;
}

.telephone2-header {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    margin: 20px 30px 30px 5px;

}

.telephone2-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    align-items: center;
    margin-bottom: 20px;
}

.telephone2-logo-photo {
    aspect-ratio: 1/1;
    width: 94px;

}

.telephone2-logo-name {
    color: #141414;
    text-align: center;

    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px;
}

.telephone2-logo-text {
    color: #141414;
    text-align: center;
    max-width: 250px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.155px;
}

.registration-container {
    position: relative;
    margin-bottom: 20px;

}

.registration-container label {
    position: absolute;
    top: 24px;
    left: 13px;
    transition: opacity 0.2s;
}

.registration-password {

    border-radius: 17px;
    border: 1px solid #C0C0C0;

    color: #141414;

    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.155px;
}

.registration-container input {
    padding: 13px;
    font-size: 16px;
    width: 304px;
    height: 35px;

}

.registration-container input:focus + label {
    opacity: 0;

}

.checkbox-text {
    color: #141414;

    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.146px;
    max-width: 230px;
}

.title2 {
    color: #FF8C00;

    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.146px;
}

.check-mark {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.registration-button {
    margin-top: 32px;
    margin-bottom: 18px;
    width: 334px;
    height: 51px;
    flex-shrink: 0;

    border-radius: 13px;
    background: #7D5FFF;
    box-shadow: 0 10px 30px 0 rgba(41, 0, 204, 0.31);

    color: #FFF;
    text-align: center;

    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 0;
}

.registration-position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registration-acc {
    color: #555;
    text-align: center;

    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.155px;
}

.title3 {
    color: #FF8C00;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.155px;
    text-decoration-line: underline;
}

.registration-prime {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 26px;
}

.registration-acc1 {
    color: #555;


    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.155px;
}

.registration-acc1-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.code-input-container {
    display: flex;
}

.code-input {
    aspect-ratio: 1/1;
    border-radius: 18px;
    border: 1px solid #C0C0C0;
    width: 60px;
    margin-right: 10px;
    text-align: center;
    margin-bottom: 20px;

}

.registration-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 2450px;
    margin-bottom: 90px;
}

.registration-footer-text {
    color: #4E4E4E;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: capitalize;
    max-width: 600px;
}

.label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #394a56;
}

.label-text {
    margin-left: 16px;
}

.toggle {
    isolation: isolate;
    position: relative;
    height: 60px;
    width:200px;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: -8px -4px 8px 0 #fff, 8px 4px 12px 0 #d1d9e6, 4px 4px 4px 0 #d1d9e6 inset, -4px -4px 4px 0 #fff inset;
}

.toggle-state {
    display: none;
}

.indicator {
    height: 100%;
    width: 200%;
    background: #a8adb4;
    border-radius: 40px;
    transform: translate3d(-75%, 0, 0);
    transition: transform .4s cubic-bezier(.85, .05, .18, 1.35);
    box-shadow: -8px -4px 8px 0 #fff, 8px 4px 12px 0 #d1d9e6;
}

.toggle-state:checked ~ .indicator {
    transform: translate3d(25%, 0, 0);
}
.creat-card-main {
    background-color: #303030;
    padding: 145px 260px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.creat-card-info {
    display: flex;
    flex-direction: column;
    gap: 26px;

}

.creat-card-info-logo {
    color: #8C8C8C;
    max-width: 500px;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: 101.2%;
}

.creat-card-logo-name {
    color: #FFF;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: 101.2%;
}

.creat-card-logo-text {

    max-width: 520px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: capitalize;
}

.card-info-like {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3px;
    width: 521px;
}

.card-info-like-text {
    display: flex;
    gap: 7px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 249.5%;
    text-transform: capitalize;
}

.card-prime-pay1 {
    position: relative;
    border-radius: 28px;
    flex-shrink: 0;
    background: url('../img/card-balance.png'), lightgray 50% / cover no-repeat;
    z-index: 1;
}

.card-name1 {
    color: #FFF;
    font-size: 31px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 2px;
}

.check-money1 {
    color: #2C2C2C;
    padding-left: 15px;
    font-size: 62px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}

.name1 {
    color: #FFF;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.card-holder1 {
    color: #FFF;

    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.logo-card-border1 {

    width: 50px;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: 1px solid #FFF;

}

.money-dollar1 {
    width: 25px;
}

.card-prime-pay2 {
    position: absolute;
    left: 70px;
    top: 70px;
    z-index: 12314;
    border-radius: 28px;
    flex-shrink: 0;
    background: url('../img/card-balance1.png'), lightgray 50% / cover no-repeat;
}

.card-chip {
    width: 45px;
    height: 60px;
}

.card-info-balance {
    position: relative;
}

.pricing {
    padding: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
}

.pricing-logo {
    color: #B5B5B5;
    text-align: center;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: 101.2%;
    max-width: 700px;

}

.choice-pricing {
    display: flex;
    gap: 45px;
    flex-shrink: 0;

}

.mode {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 360px;
    padding: 40px 40px;
    border-radius: 30px;
    background: #F2F2F2;
}

.mode-logo {
    display: flex;
    justify-content: space-between;
    background-image: url('../img/mode-bg.png');
    width: 348px;
    height: 147px;
    flex-shrink: 0;
    border-radius: 15px;

}

.mode-logo1 {
    display: flex;
    justify-content: space-between;
    background-image: url('../img/mode-bg2.png');
    width: 348px;
    height: 147px;
    flex-shrink: 0;
    border-radius: 15px;

}


.mode-logo-text {
    margin-left: 30px;
    display: flex;
    align-items: center;
    color: #3D3269;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 101.2%;
}

.mode-logo-text2 {
    margin-left: 30px;
    display: flex;
    align-items: center;
    color: #FFF;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 101.2%;

}

.mode-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mode-cost {

    color: #3D3269;

    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 101.2%;
}


.mode-term {
    color: #3D3269;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 101.2%;
}

.mode-catalog {
    display: flex;
    flex-direction: column;
    padding: 8px 74px 8px 36px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 15px;
    background: #ffffff;
}

.mode-catalog-text {
    color: #4E4E4E;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 263%;
}

.mode-pricing-button {
    display: flex;
    padding: 25px 111px 26px 111px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 72px;
    background: #D7D7D7;
    color: #231656;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
}

.mode-pricing-button2 {
    display: flex;
    padding: 25px 111px 26px 111px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 72px;
    background: #231656;

    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
    color: #FFF;
}

.tic {
    display: flex;
    flex-direction: column;

}

.email {
    background-image: url('../img/email-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 130px 80px;
    gap: 100px;
    margin: 0 auto;
    border-radius: 50px;
    max-width: 1200px;
}

.email-text-logo {
    color: #231656;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: 101.2%;
    max-width: 600px;
}

.email-reg {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.email-button {
    display: flex;
    padding: 25px 59px 26px 59px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 72px;
    background: #231656;
    color: #FFF;
= font-size: 18 px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
}

.footer {
    margin: 61px 88px 12px 88px;
    justify-content: center;
    display: flex;
    padding: 100px 174px;
    align-items: flex-start;
    gap: 81px;
    border-radius: 30px;
    background: #F5F5F5;
}

.footer-logo-text {
    margin: 45px 0 45px 0;
    color: #4E4E4E;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    max-width: 445px;
}

.links {
    display: flex;
    gap: 23px;
}

.footer-line {
    width: 1px;
    height: 253px;
    background: #c4c4c4;
}

.footer-menu {
    display: flex;
    gap: 90px;
}

.footer-menu-1 {
    display: flex;
    flex-direction: column;

}

.footer-menu-logo {
    color: #3D3269;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 101.2%;
    margin-bottom: 15px;
}

.footer-menu-text {
    color: #4E4E4E;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 198.5%;
    max-width: 230px;
}

.footer-button {
    display: flex;
    padding: 13px 29px 14px 29px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 72px;
    background: #625FFB;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
}

.empty-line {
    margin-bottom: 40px;
}

/**
*blog
**/
.search-blog {
    margin: 80px 0;
    align-items: center;
    justify-content: space-evenly;
}

.search-blog-logo {
    text-align: center;
    color: #B5B5B5;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: 101.2%;
}

.search-reg {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.search-container {

}

.search-password {
    padding: 15px;
    font-size: 20px;
    width: 400px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 77px;
    border: 1px solid #D1D1D1;
    background: #FFF;
    box-shadow: 40px 48px 105px 0 #EBEBEB;

}

.search-button {
    width: 139px;
    padding: 26px 32px 26px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 82px;
    background: #231656;
    box-shadow: 40px 48px 105px 0 #EBEBEB;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;

}

.latest-news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 700px;
}
.latest-news1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.work {
    display: flex;
    padding: 4px 17px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 119px;
    border-radius: 100px;
    background: #E5DFF4;
}

.work-text {
    color: #7D5FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.latest-news-text {
    margin-top: 21px;
    color: #3D3269;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    max-width: 700px;
}

.latest-news-footer {
    margin-top: 34px;
    display: flex;
    align-items: center;

}

.latest-news-data {
    color: #3D3269;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.latest-news-dot {
    width: 8px;
    height: 8px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: #625FFB;
}

.latest-news-name {
    color: #3D3269;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mini-latest-news-text {
    color: #3D3269;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-width: 419px;
}

.latest-news-block {
    justify-content: center;
    margin-bottom: 110px;

}
.mini-latest-news {
    display: flex;

}

.blog-logo {

    border-radius: 80px;
    max-width: 1747px;
    padding: 200px 0;
    text-align: center;
    background-image: url('../img/blog-back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.blog-logo-text {
    color: #231656;

    text-align: center;
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height: 116.7%;
}

.latest-news-main {
    max-width: 1360px;
    margin: 60px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 43px;

}


/**
*blog-single
**/

.latest-news-main1 {
    max-width: 1360px;
    margin: 60px auto;
    display: flex;
    gap: 43px;

}
.latest-news-text1{
    color: #3D3269;
    text-align: center;
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    line-height: 123%;
    max-width: 1000px;
}
.latest-news1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

.horizontal-line-links{
    margin: 20px 0;
    padding: 0;
    height: 2px;
    border: none;
    border-top: 4px dashed #ddd;
}
.links-text{
    margin-top: 15px;
    color: #4E4E4E;
    text-align: justify;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150.5%;
    width: 900px;
}
.links-logo{
    padding: 40px;
    width: 900px;
    text-align: start;
    color: #231656;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
}
.links-text-list{
    color: #4E4E4E;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 288.5%;
    text-transform: capitalize;
}
.speech{
    width: 32px;
    height: 238px;
    flex-shrink: 0;
    background: #8A6FFD;
}
.speech-text{
    color: #4E4E4E;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}
.link-commit{
    display: flex;
    width: 900px;
    padding: 47px 52px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 30px;
    background: #F5F5F5;
}
.horizontal-line-links-text{
    width: 700px;
    height: 2px;
    background: #CCC;
}